<h1>{{title}}</h1>
<p>Welcome - what would you like to do?</p>
<ul>
{{!-- DONE: add hyperlink to Bcrypt Route--}}
  <li><a href="/bcrypt/">Work with Bcrypt</a></li>
  {{!-- TODO: add hyperlink to Convert Route--}}
  <li>Convert XML to JSON</li>
</ul>
