<h1>{{title}}</h1>
<p>
  What would you like to do?
</p>
{{!-- DONE: add hyperlink to Bcrypt Encrypt--}}
<a href="encrypt">Encrypt A Word</a>
<br/>
{{!-- TODO: add hyperlink to Bcrypt Verifiy--}}
<a href="#">Validate an Encrypted Word</a>
